 .container  {
    border-radius: 10px;
    top: 300px;
    font-size: 20px;
    background-color: #f4f7f7;
    box-shadow: 50px 50px 50px rgba(44, 40, 40, 0.795);
    height: 90vh;
    width: 800px;
    margin: 30px auto;
    border-radius: 30px; 
   font-family:'Courier New', Courier, monospace


   
 }
 .header{
     background-color: #4fe9e1;
     margin:0;
     padding: 15px 0px;
     border-radius: 15px; 
     
 }
 #words{
     font-size: 30px;
     /* font-style:oblique */
     font-family: cursive ;
      
 }

.inner-container{
   padding: 20px 30px; 
   text-align: center;
   position: relative;
}

 img {
    /* border: 10px solid #4fe9e1; */
    border-radius: 90px;
    width: 150px;
    color: #4fe9e1;
    position: absolute;
    left: 60px;
    top: 30px;
    color: #4fe9e1;
  }
 .inner-container > p{
     text-align: justify;
 }
  .btn-container{ 
   
    position: absolute;
    bottom:px;
    left: 20px;
    display: grid;
    width: 63%;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    margin-left:px;
    padding: 20px;
    text-align: justify;
    
 } 
.text-container{
   padding: 20px 0px;
}

 .login-btn{
    /* border:; */
    font-size: 16px; 
    background-color: #4fe9e1;
    position: absolute;
    padding: 30px 30px;
    border-radius: 14px;
    top: 90px;
    font-size: 2rem;
    font-family:monospace;
    border: #4fe9e1;
    transition-duration: 0.4s;
    
    }
    .login-btn:hover {
      background-color:rgba(73, 126, 151, 0.692); 
      color: white;
      cursor: pointer;
    }



 .register-btn{
   position: absolute;
    background-color:  #4fe9e1;
    padding: 30px 30px;
    border-radius: 14px;
    top: 90px;
    font-size: 2rem;
    font-family:monospace;
    right: -40%;
    border: #4fe9e1;
    transition-duration: 0.4s;
    transition: ease-out 0.3s;

 }
.register-btn:hover{
   background-color:rgba(73, 126, 151, 0.692);; 
      color: white;
      cursor: pointer;
}


.text-1{
   font-size :25px;
   padding: 0px 20px;
   font-family:monospace;
   
}
.text-2{
   position: relative;
   right: -77%;
   bottom: 60px;
   font-family: monospace ;
   font-size: 25px;
   
}
